/*Variables*/
:root {
    --body-bg-image: url('https://toothspikes.neocities.org/shrines/kuromi/kuromiBackground.jpg');
    --title: url('https://toothspikes.neocities.org/shrines/kuromi/Kuromi-11-24-2025.png');
    --text: #643b62;   
}

/*fonts*/

/*body*/
body {
    background-image: var(--body-bg-image);
    background-size: cover;
    color: var(--text);
    width: 150px;
    height: auto;
}

#title {
    background-image: var(--title);
    padding-top: 50px;
}

/*grid display 3 columns, however many rows. Links to anything? What can I add on here to make it more fun?/*