/*Variables*/
:root {
    --body-bg-image: url('neocities_site/shrines/kuromi/kuromiBackground.jpg');
    --title: url('neocities_site/shrines/kuromi/Kuromi-11-24-2025.png');
    --text: #643b62;   
}

/*fonts*/

/*body*/
body {
    background-image: var(--body-bg-image);
    color: var(--text);
    width: 10px;
    height: auto;
}

#title {
    background-image: var(--title);
    padding-top: 50px;
}

