/*Variables*/
:root {
    --body-bg-image: url('https://toothspikes.neocities.org/shrines/kuromi/kuromiBackground.jpg');
    --text: #643b62;
    --main-bg: url('https://toothspikes.neocities.org/shrines/kuromi/kuromiTextBackground.jpg');   
}

/*fonts*/
@font-face {
  font-family: kinLove;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftRegular-Bmg3.otf')
}

/*body*/
body {
    background-image: var(--body-bg-image);
    background-size: cover;
    color: var(--text);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px 50px;
    font-family: 'kinLove';
}

.mainContent {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    background-image: var(--main-bg);
}

.leftCorner {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.rightCorner {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/*grid display 3 columns, however many rows. Links to anything? What can I add on here to make it more fun?/*