:root {
  --body-bg-image: url('https://toothspikes.neocities.org/shrines/shrines-bk1.jpg');
}

@font-face {
  font-family: bitmgothic;
  src: url('https://toothspikes.neocities.org/fonts/bitmgothic/Bitmgothic/Bitmgothic.ttf');
}

body {
  background-image: var(--body-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  color: black;
}
h1 {
  font-family: bitmgothic;
  
}
