:root {
  --body-bg-image: url('https://toothspikes.neocities.org/shrines/bk-shrines.png');
  --cd-shrine: url('https://toothspikes.neocities.org/shrines/badtzmaruRadio.png');
  --kuromi-shrine: url('https://toothspikes.neocities.org/shrines/kuromiShrine.png');
  --rAndm-shrine: url('https://toothspikes.neocities.org/shrines/rickmortyportal.png');
}



body {
  background-image: var(--body-bg-image);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  margin: 0;
}

#shrinesheader {
  margin: auto;
}


#musicShrine {
  background-image: var(--cd-shrine);
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
  top: 200px;
  left: 250px;
  position: absolute;
  background-size: cover;
}

#kuromiShrine {
  background-image: var(--kuromi-shrine);
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
  top: 200px;
  left: 450px;
  position: absolute;
  background-size: cover;
}

#rAndmShrine {
  background-image: var(--rAndm-shrine);
  width: 175px;
  height: 175px;
  transition: transform 0.2s;
  top: 200px;
  left: 650px;
  position: absolute;
  background-size: cover;
}

#musicShrine:hover {
  transform: scale(110%);
}

#kuromiShrine:hover {
  transform: scale(110%);
}

#rAndmShrine:hover {
  transform: scale(110%);
}
