:root {
  --body-bg-image: url('https://toothspikes.neocities.org/shrines/shrines-bk.jpg');
  --cd-shrine: url('https://toothspikes.neocities.org/shrines/badtzmaruRadio.png');
  --kuromi-shrine: url('https://toothspikes.neocities.org/shrines/kuromiShrine.png');
}



body {
  background-image: var(--body-bg-image);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
  margin: 0;
}

#shrinesheader {
  margin: auto;
}

#shrinesheader img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

#musicShrine {
  background-image: var(--cd-shrine);
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
  top: 200px;
  left: 250px;
  position: absolute;
  background-size: cover;
}

#kuromiShrine {
  background-image: var(--kuromi-shrine);
  width: 150px;
  height: 150px;
  transition: transform 0.2s;
  top: 200px;
  left: 450px;
  position: absolute;
  background-size: cover;
}

#musicShrine:hover {
  transform: scale(110%);
}

#kuromiShrine:hover {
  transform: scale(110%);
}
