:root {
    --main-bg: #43256E; /*CSS empty root placebo*/
}

body {
  color: white;
}

#container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

main {
  width: 800px;
  min-height: 500px;
  display: block;
  background-color: var(--main-bg); /*TEMPORARY*/
  margin-top: 25px;
  padding: 20px;
}

.navButtons {
  width: 150px;
  flex-shrink: 0;
}

.button {
  display: block;
  width: 150px;
  height: 25px;
  margin: 10px 15px 10px 0;
  border: dotted 2px blue;
  background-color: darkblue;
  transition: transform 0.2s;
  padding: 8px;
  align-content: center;
  border-radius: 20px;
}

.button:hover {
  transform: scale(110%);
}

#musicPlayerContainer {
  width: 800px;
  height: 35px;
  margin-top: 20px;
}

.entryBox {
  width: 750px;
  height: auto;
  margin: 20px 0;
  padding: 15px;
  display: flex;
  align-items: start;
}

/*This switches the format of the entry box to go back and forth*/
.entryBox:nth-child(even) {
  flex-direction: row-reverse;
}

.entryContent {
  flex-grow: 1;
}

.albumContainer {
  flex-shrink: 0;
  width: 200px;
  text-align: center;
}

.albumCover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.albumInfo {
  font-size: 0.9em;
  color: black;
  border-top: 1px solid #ffffff33;
  padding-top: 5px;
}