:root {
    --main-bg: #43256E; /*CSS empty root placebo*/
}

body {
  background-image: var();
}

#container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

main {
  width: 800px;
  height: 1000px; /*TEMPORARY*/
  display: block;
  background-color: var(--main-bg); /*TEMPORARY*/
  margin-top: 25px;
  position: relative;
  right: 0;

}

.button {
  display: block;
  width: 150px;
  height: 35px;
  margin: 7px;
  position: relative;
  left: 0;  
}

.button:hover {
  transform: scale(110%);
}

#musicPlayerContainer {
  position: absolute;
  width: 800px;
  height: 35px;
}

.entryBox {
  width: 750px;
  height: auto;
  
}
