:root {
    --main-bg: #10218b; /*CSS empty root placebo*/
    --body-bg: url('https://toothspikes.neocities.org/shrines/music/musicshrine-bk.jpg')
}

@font-face {
  font-family: Moon;
  src: url('https://toothspikes.neocities.org/shrines/music/Moonstar.ttf');
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftRegular-Bmg3.otf.ttf');
}

body {
  color: white;
  font-family: Minecraft;
  background-image: var(--body-bg);
}

h1 {
  font-family: Moon;
}

#container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    display: flex;
}

main {
  width: 750px;
  min-height: 500px;
  display: block;
  background-color: var(--main-bg);
  margin-top: 25px;
  margin-left: 10px;
  padding: 20px;
  border-radius: 25px;
}

.navButtons {
  width: 100px;
  flex-shrink: 0;
  margin-top: 75px;
}

.button {
  display: block;
  width: 150px;
  height: 15px;
  margin: 10px 15px 10px 0;
  border: dotted 2px blue;
  background-color: darkblue;
  transition: transform 0.2s;
  text-align: center;
  border-radius: 25px;
}

.button:hover {
  transform: scale(110%);
}

#musicPlayerContainer {
  width: 800px;
  height: 35px;
  margin-top: 20px;
}

.entryBox {
  width: 750px;
  height: auto;
  margin: 20px 0;
  padding: 15px;
  display: flex;
  align-items: start;
}

/*This switches the format of the entry box to go back and forth*/
.entryBox:nth-child(even) {
  flex-direction: row-reverse;
}

.entryContent {
  flex-grow: 1;
}

.albumContainer {
  flex-shrink: 0;
  width: 200px;
  text-align: center;
}

.albumCover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.albumInfo {
  font-size: 0.9em;
  color: black;
  border-top: 1px solid #ffffff33;
  padding-top: 5px;
}