:root {
	--bg-image: url("https://toothspikes.neocities.org/blog/blogimages/blogmainbackground.jpg");
	--bg-color: #f1f0ff;
				
}
				
@font-face {
	font-family: babygirllight;
    src: url('https://toothspikes.neocities.org/fonts/212-baby-girl-light-font/212BabyGirlLight-eZjRB.otf');
}
			
body {
	background-image: var(--bg-image);
	margin: 0;
}

#container {
    width: 900px;
    margin: 0 auto;
	font-family: babygirllight;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 25px;
    position: relative;
}
			
/*Main Section of Page*/
#studyBook, #portfolio, #diary, #resources {
    grid-row: 2;
    grid-column: 1;
    z-index: 1;
    width: 100%;
    max-height: 600px;
    background-color: var(--bg-color);
	background-image: linear-gradient(#ccc9ff 2px, transparent 2px);
	background-size: 100% 40px;
    border: dashed #9c96ff 4px;
    border-radius: 7px;
    padding: 42px 10px;
    margin: 0;
    color: #393942;
    overflow-y: scroll;
    scrollbar-color: #9c96ff #f1f0ff;
}

#portfolio, #diary, #resources {
    grid-row: 2;
    grid-column: 1;
    z-index: 2;
    display: none;
}

/*Entry boxes*/
.studyBookEntry {
	line-height: 40px;
    border-bottom: 3px dashed #9c96ff;
    padding-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
}

.diaryEntry {
	line-height: 40px;
    width: 875px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-bottom: 2px solid #9c96ff;
    border-top: 2px solid #9c96ff;
    overflow: auto;
}

/*Text*/
p {
	font-size: 20px;
    line-height: 40px;
    margin: 0;
}

h1, h2, h3 {
	margin: 0;
    line-height: 40px;
}

hr {
	border-top: 3px solid #f1f0ff;
    border-right: 3px solid #f1f0ff;
    border-left: 3px solid #f1f0ff;
	border-bottom: 3px dashed #9c96ff;
}

ul {
	line-height: 40px;
    font-size: 20px;
}

.title {
	line-height: 40px;
    float: left;
    font-size: 30px;
}

.alternateTitle {
	line-height: 40px;
    text-align: center;
    font-size: 35px;
}

.date {
	line-height: 40px;
    float: right;
    font-size: 18px;
}

/*Links*/

a:link {
    text-decoration: none;
			}

a:visited {
	color: #7C78CC;
    text-decoration: none;
}

a:hover {
	color: #f1f0ff;
}

/*Photos*/
.image {
  	width: 200px;
  	height: 200px;
  	object-fit: contain;
    display: block;
    border-style: dotted;
    border-color: #9c96ff;
    border-width: 2px;
    margin: 10px;
    background-color: #e8e6ff;
    max-width: 100%;
    transition: width .5s, height .5s;
			}

.image:hover {
	width: 215px;
    height: 215px;
}

.image-left {
	float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

.image-right {
	float: right;
    margin-left: 15px;
    margin-right: 10px;
}

.image-center {
	display: block;
    margin: 20px auto;
    clear: both;
}

.clear {
	clear: both;
}

/*Navigation*/
.topNav {
	display: flex;
    gap: 275px;
    justify-content: flex-start;
    width: 100%;
    margin-left: 150px;
    grid-row: 1;
}

.bottomNav {
	display: flex;
	justify-content: flex-end;
    gap: 250px;
    width: 100%;
    margin-right: 125px;
    grid-row: 3;
}

.navButton {
	width: 100px;
    height: 35px;
    text-align: center;
    background-color: var(--bg-color);
    background: linear-gradient(#f1f0ff, #f1f0ff, #ccc9ff, #9c96ff);
    border-radius: 10px 10px 0 0;
    border: 1px solid #9c96ff;
    transition: 0.5s;
}

.navButton.active {
	background-color: var(--bg-color);
    background: linear-gradient( #f0f1ff, #f0f1ff);
}

.topNav .navButton {
	position: relative;
    padding-top: 7px;
    margin-bottom: -5px;
}

.topNav .navButton:hover {
	height: 40px;
    margin-top: -5px;
}
s
.bottomNav .navButton {
	position: relative;
	background: linear-gradient(#9c96ff, #ccc9ff, #f1f0ff, #f1f0ff);
    border-radius: 0 0 10px 10px;
    padding-bottom: 0;
    padding-top: 7px;
    margin-top: -5px;
}

.bottomNav .navButton:hover {
	height: 40px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-bottom: -5px;
}

.bottomNav .navButton.active {
	background-color: var(--bg-color);
    background: linear-gradient( #f0f1ff, #f0f1ff);
}
/*End Navigation*/

#footer {
	grid-row: 4;
    grid-column: 1;
    background-color: #9c96ff;
    height: 25px;
    margin: 25px auto;
				text-align: center;
    width: 50%;
    border-radius: 5px;
    border: 2px double #6D69B2;
}