:root {
    --bg-image: url('https://toothspikes.neocities.org/shrines/rickandmorty/randm-bk.webp')
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftRegular-Bmg3.otf');
}

body {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "header header"
        "main side"
        "footer footer";
    grid-auto-rows: 1fr 2fr 1fr;
    grid-auto-columns: auto auto;
}

.body div {
    padding: 10px;
}

.body div.main {
    grid-area: main;
}

#content {
    background-color: #9bdc3c;
    width: 700px;
    max-height: 500px;
    border: 5px double #7CB030;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    opacity: 0.75;
    scrollbar-color: #7CB030 #e4d867;
    overflow-y: auto;
    overflow-x: clip;
    color: #44601b;
    font-family: Minecraft;
}

.body div.side {
    grid-area: side;
}

.body div.header {
    grid-area: header;
}

.body div.footer {
    grid-area: footer;
}