:root {
    --bg-image: url('https://toothspikes.neocities.org/shrines/rickandmorty/randm-bk.webp')
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftRegular-Bmg3.otf');
}

body {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: "main images";
}

.container div.main {
    grid-area: main;
    background-color: #9bdc3c;
    width: 750px;
    max-height: 600px;
    border: 5px double #7CB030;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    opacity: 0.75;
    scrollbar-color: #7CB030 #e4d867;
    overflow-y: auto;
    overflow-x: clip;
    color: #44601b;
    font-family: Minecraft;
}

.container div.images {
    grid-area: images;
}

/*for use later*/
.container div.other {
    grid-area: other;
}

/*for use later*/
.container div.footer {
    grid-area: footer;
    text-align: center;
}