/*Variables*/
:root {
  --header-image: url('images/hellokittypurple.jpg');
  --body-bg-image: url('https://toothspikes.neocities.org/images/background.gif');
  /* colors */
  --text-pink: #ED64F5;
  --borders: #763FB3;
  --main-bg: #43256E;
  --main-border: #371E59;
}

/*Fonts*/
@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftRegular-Bmg3.otf');
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftBold-nMK1.otf');
  font-weight: bold;
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftBoldItalic-1y1e.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Minecraft;
  src: url('https://toothspikes.neocities.org/fonts/minecraft-font/MinecraftItalic-R8Mo.otf');
  font-style: italic;
}

@font-face {
  font-family: Sanctuary;
  src: url('https://toothspikes.neocities.org/fonts/sanctuary/downloads/Sanctuary.ttf');
}

@font-face {
  font-family: bitmgothic;
  src: url('https://toothspikes.neocities.org/fonts/bitmgothic/Bitmgothic/Bitmgothic.ttf');
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  background-color: #402552;
  /* below code is for a background image */
  background-size: 70px;
  color: #DFD4E7;
  background-image: var();
}

* {
  box-sizing: border-box;
}

#container {
  /*If width us changed, change width in media query*/
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

/*Links*/
#container a {
  color: var(--text-pink);
  font-weight: bold;
  text-decoration: none;
}


#header {
  
  width: 100%;
  background-color: #5e4e8c;
  height: 150px;
  background-image: var(--header-image);
  background-size: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* navigation section!! */
#navbar {
  height: 30px;
  background-color: #13092D;
  /* navbar color */
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 3px;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

/* navigation links*/
#navbar li a {
  color: var(--borders);
  /* navbar text color */
  font-weight: 800;
  text-decoration: none;
  /* this removes the underline */
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  color: var(--text-pink);
  text-decoration: underline;
}

#flex {
  display: flex;
}

aside {
  background-color: #241445;
  width: 200px;
  padding: 10px;
  font-size: smaller;
  border-radius: 25px;
  border-color: var(--borders);
  border-style: double;
}

main {
  background-image: url("https://toothspikes.neocities.org/images/purplelace.jpg");
  flex: 1;
  padding: 20px;
  width: 500px;
  --mask: 
    linear-gradient(#000 0 0) 50%/calc(100% - 18.5px) calc(100% - 18.5px) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) 0 0/20px 20px round;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  border-width: 2px;
  order: 2;
}

#leftSidebar {
  scrollbar-color: #8C31A7 #51225E;
  margin-right: 15px; 
  width: 250px; 
  height: 500px;
  order: 1;
}

#rightSidebar {
  margin-left: 15px; 
  width: 200px; 
  height: 700px;
  order: 3;
}

/*This is the different content that'll be swapped out of the main box*/
#aboutSection {
  display: none;
  background-color: var(--main-bg);
  flex: 1;
  padding: 8px;
  border-color: var(--main-border);
  border-style: outset;
  height: 750px; 
  overflow-y: auto; 
  overflow-x: clip; 
  scrollbar-color: #43256E #241445;
}

#blinkies {
  display: none;
  background-color: var(--main-bg);
  flex: 1;
  padding: 1px;
  border-color: var(--main-border);
  border-style: outset;
  font-family: Sanctuary;
  width: 485px;
  height: 750px;
  overflow-y: auto;
  overflow-x: clip; 
  scrollbar-color: #43256E #241445;
}

#xtra {
  display: none;
  background-color: var(--main-bg);
  flex: 1;
  padding: 1px;
  border-color: var(--main-border);
  border-style: outset;
  width: 480px; 
  height: 750px; 
  overflow-y: auto; 
  overflow-x: clip; 
  scrollbar-color: #43256E #241445;
}

#aboutSection:target {
  display: block;
}

#blinkies:target {
  display: block; 
}
 
#xtra:target {
  display: block; 
}

table {
	width: 350px;
  color: #c7b3d5;
	display: absolute;
  justify-content: center;
  background-color: #371f5b;
  margin-bottom: 15px;
}

tr, th {
    border: 2px ridge #E380FF;
    border-radius: 10px;
    width: 100px;
    color: #c7b3d5;
    background-color: #371f5b;
}

#bcTable {
	border-collapse: separate;
  border-spacing: 10px 3px;
}

#stampbox {
  background-image: url("https://toothspikes.neocities.org/images/stampdisplaybackground.jpg");
  width: 500px;
  height: 68px;
  position: absolute;
  top: 1100px;
  left: 275px;
  padding-top: 5px;
  padding-left: 10px;
  border-color: #43256E;
  border-width: 6px 2px 0 2px;/*top right bottom left*/
}

/*Start of music player*/
#musicPlayerContainer {
  position: absolute;
  top: 1200px;
  left: 5px;
  width: 250px;
  height: 400px;
}


#musicplayer {
  width: 100%;
  height: 100%;
  background-color: #241445;
  position: relative;
  padding: 8px;
  border-radius: 20px;
  border-style: double;
  border-color: #9754E0 #763FB3 #763FB3 #9754E0;
}
  
  #playbutton {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 35px solid white;
    border-bottom: 20px solid transparent;
    top: 255px;
    left: 142px;
    position: absolute;
  }
  
  #pausebutton {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 255px;
    left: 77px;
    border-width: 0 0 0 25px;
    border-style: double;
    border-color: white;
  }
  
  #backbutton {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    top: 255px;
    left: 17px;
    position: absolute;
  }
  
  #backbutton::before {
    position: absolute;
    top: -20px;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    content: '';
  }
  
  #forwardbutton {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    top: 255px;
    left: 217px;
    position: absolute;
  }
  
  #forwardbutton::before {
    position: absolute;
    top: -20px;
    left: -30px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    content: '';
  }

  .musicscreen {
      border-radius: 20px;            
      position: absolute;
      top: 10px;
      left: 10px;
      width: 225px;
      height: 180px;
      border-color: #763FB3;
      border-style: double;
      transition: background-image 0.3s ease;
  }
  
  .track-info {
    color: white;
    position: absolute;
    top: 200px;
    left: 10px;
    text-align: center;
    width: 230px;
  }
  
  .track-title {
    margin: 0;
  }
  
  .track-artist {
    margin: 0;
  }
  
  .time-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 15px;
    position: absolute;
    top: 320px;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
  }
  
  .progress-bar {
    flex-grow: 1;
    height: 5px;
    cursor: pointer;
    position: relative;
    margin: 0 10px;
    width: 140px;
  }
  
  .volume-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    top: 350px;
    left: 10px;
    right: 10px;
    position: absolute;
    width: calc(100% - 20px);
  }
  
  .volume-control {
    width: 200px;
    position: relative;
    margin-left: 10px;
  }

  .volume-icon {
    display: flex;
    align-items: center;
  }

  .volume-icon img {
    width: 15px;
    height: 15px;
  }
  /*End of music player*/
  

footer {
  background-color: #13092D;
  /* background color for footer */
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  /* this centers the footer text */
}

h1,
h2,
h3 {
  color: var(--text-pink);
}

h1 {
  font-size: 25px;
}

strong {
  color: var(--text-pink);
}

/* this is just a cool box, it's the darker colored one */
.box {
  background-color: #13092D;
  border: 1px dashed var(--text-pink);
  border-radius: 15px;
  padding: 10px;
  overflow-y: auto; 
  scrollbar-color: #43256E #241445;
  height: 200px;
}

/*updates box*/
.box2 {
  background-color: #20113F;
  padding: 5px;
  border: 1px dashed #E380FF;
  border-radius: 15px;
}

.button {
  background-image: linear-gradient(345deg, #b04ebf 17%, #e567ec 73%, #ebadee 95%);
  border-color: #e567ec;
  border-style: outset;
  font-family: Minecraft;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px; 
  height: 40px;
  
}

.button:hover {
  background-image: linear-gradient(135deg, #b04ebf 17%, #e567ec 73%, #ebadee 95%);
  border-color: #e567ec;
  border-style: inset;
}


marquee img {
display: inline-block;
margin: 0;
background-image: url("https://toothspikes.neocities.org/images/stampdisplaybackground.jpg")
}

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #AB4BAB;
}

/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 900px) {
  #flex {
      flex-wrap: wrap;
  }

  aside {
      width: 100%;
  }

  /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
  main {
      order: 1;
  }

  #leftSidebar {
      order: 2;
  }

  #rightSidebar {
      order: 3;
  }

  #navbar ul {
      flex-wrap: wrap;
  }
}